body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}


.container {
    display: block;
    margin-top: 50px;
    color: #f3f3f3;
    
    
}
header {
    display: block;
    
}
.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    
}
h1 {
    display: block;
    line-height: 1.2;  

}
#title {
    text-align: center;
    font-size: 35px;

}
p {
    display: block;
    line-height: 1.2;
    
}
#description {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}
body {
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}
#survey-form {
    background-color: black;
    max-width: 750px;
    margin: 0 auto 0px auto;
    line-height: 1.6;
    display: block;
    border-radius: 5px;
    opacity: 0.7;  
}
div label {
    display: block;
}
form div {
    margin: 20px 40px 0px 40px;
}
form {
    padding-top: 25px;
    padding-bottom: 25px;
}
textarea {
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    border-radius: 5px;
    padding:3px;
}
button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: rgb(59, 233, 59);
    color: white;
    font-weight: bold;
}
